h1{
	display: inline-block;
}

.header img{
	float: right;
}

.header h1{
	color: #0197fd;
	margin-left: 0;
	font-weight: bold;
}

.header{
	margin-bottom: 40px;
	margin-top: 40px;
}

.alert{
	margin-top: 60px;
	display: none;
	text-align: center;
}


body{
	//background: url(../img/fondo_rayas.png);
}

.container{
	background-color: rgba(255,255,255,.9);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	max-width: 450px;
	height: 100%;
	margin: 0 auto;
}

.loading, .loading-touch{
	text-align: center;
	padding-top: 40px;
}

.indicators{
	display: none;
}

#pointer{
	position: absolute;
	left: -100px;
	top: -100px;
}

#progress{
	position: absolute;
	//top: 35%;
	//left: 70%;
}

.start{
	display: none;
}

.success{
	display: none;
}

.loading{
	display: none;
}

.dialog{
	color: #0197fd;
	margin-left: 0;
	font-weight: bold;
	font-size: 16px;
}
