body {
  background-color: #eeeeee;
}
.container {
  width: 60%;
  margin: 10% auto;
}
.column {
  margin: 0 auto;
  width: auto;
}
.column .row {
  text-align: center;
  margin: 0 auto;
}
.indicator {
  display: none;
  left: -100px;
  top: -100px;
}
.logo {
  background-image: url('img/logo_votar_grande.png');
  width: 40%;
}
.title {
  font-size: 48px;
  font-weight: bold;
  color: #0197fd;
  text-align: center;
}
.dialog {
  display: none;
  margin: 5px;
  padding: 5px;
  border: 0px solid;
  border-radius: 10px;
}
.error {
  background-color: rgba(210, 22, 22, 0.6);
  border: 1px solid;
  border-color: rgba(164, 17, 17, 0.6);
}
.success {
  background-color: rgba(35, 210, 35, 0.6);
  border: 1px solid;
  border-color: rgba(28, 166, 28, 0.6);
}
#timer {
  display: none;
}
#pointer {
  position: absolute;
  left: -100px;
  top: -100px;
  width: 48px;
  height: 48px;
}
#progress {
  position: absolute;
  left: -100px;
  top: -100px;
}
